:root {
    --gray: #343a40;
    --gray-dark:#161616 ;
    --smooth: all 0.3s ease-in;
    --blue: #0888a3;
    --red :#c42629;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

}

body {
    
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

p{
    line-height: 1.8em;
}

img {
    width: 100%;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 40px;
}

.btn{
    padding: 15px 35px;

    border-radius: 30px;

    border: none;
    
    background-color: var(--red);
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;;

}

.btn:hover{
    
    background-color: var(--blue);
    color: rgb(255, 255, 255);

}





.heading{
     color: inherit;
}
.heading h1{
    font-size: 45px;
    padding-bottom: 18px;
}
.heading h1 span{
    display: block;
    font-size: 60px;
    color: var(--blue);
}
.heading p{
    line-height: 1.8rem;
    font-size: 1.4em;
    padding-bottom: 28px;
}
.heading p span{
    display: block;
}

/* tablet responsive */
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .heading{
        text-align: center;
        padding-bottom: 20px;
    }
    .heading h1{
        font-size: 35px!important;
        padding-bottom: 8px;
    }
    .heading h1 span{
        font-size: 30px!important;
    }
    .heading p{
        line-height: 1.8rem!important;
        font-size: 0.9em!important;
        padding-bottom: 28px;
    }
    .heading p span{
        display: inline!important;
    }
    .btn{
        padding: 10px 30px;
        border-radius: 30px;
        font-size: 1em;
        font-weight: 700;
    }
}