#counter{
    padding: 150px 0;
    background-image: url('../images/contact_bg.jpg');
}

.counter{
    display: flex;

}
.counter__heading{
    width: 50%;
    display: flex;

    padding: 0 20px;

}
.counter__heading h1{
    font-size: 40px;

}
.counter__numbers{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item h2{
    font-size: 45px;
}
.item__desc{
    color:#fff;
}
.item:nth-child(even){
    color: var(--red);
}
.item:nth-child(odd){
    color: var(--blue);
}
@media only screen and (max-width: 768px) {
    .counter{
        flex-direction: column;
    
    }
    .counter__heading{
        width: 100%;
    }
    .counter__heading h1{
        font-size: 25px!important;
    }
    .counter__numbers{
        width: 100%;
    }
    .item h2{
        font-size: 35px;
    }
    .item{
        display:flex;
        justify-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
